/*Colors and fonts*/
body { 
	background: rgb(230,230,230);
	color: rgb(50,50,50);
	font-family: Helvetica;
	font-size:17px;
}
h1, h2, h3 {
  font-family: Courier;
}
h1 {
  color: blue;
  font-size: 32px;
}
h2 {
  color: rgb(100, 100, 100);
  font-size: 24px;
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: yellow;
}